@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #6366f1;
  --color-brand: #4f46e5;
  --color-brand-dark: #3730a3;
}

body {
  @apply bg-[#ffffff] text-slate-900 font-sans antialiased;
}

.bg-dot-grid {
  background-image: radial-gradient(#e2e8f0 1px, transparent 1px);
  background-size: 30px 30px;
}